.slick-slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.slick-list {
  position: relative;
  display: block !important;
  overflow: hidden;
  padding: 100px !important;
  width: 100%;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}
.slick-slide div {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-slide .image {
  object-fit: cover;
  /* border-radius: 2px; */
  min-width: 150px !important;
  width: 80%;
}
.slick-slide div div span {
  margin-top: 10px;
  width: inherit;
  text-align: center;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
}
@media screen and (max-width: 580px) {
  .slick-slide div div span {
    display: none;
  }
  .slick-slide.slick-current div div span {
    display: block;
    margin-top: 10px;
    width: inherit;
    text-align: center;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
  }
}
.slick-slide:not(.slick-active) {
  position: relative;
  z-index: 997;
}
.slick-slide.slick-active:not(.slick-current) {
  position: relative;
  z-index: 998;
  transform: scale(1.3);
  transition: 0.25s;
}
.slick-slide.slick-active.slick-current {
  position: relative;
  z-index: 999;
  transform: scale(1.6);
  transition: 0.25s;
}
.slick-slide.slick-active:not(.slick-current) .image,
.slick-slide.slick-active.slick-current .image,
.slick-slide:not(.slick-active) .image {
  width: 100% !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.custom-prevArrow,
.custom-nextArrow {
  position: absolute;
  z-index: 99999;
  /* top: -10px; */
  bottom: 0;
}

.custom-prevArrow {
  left: 40%;
}
.custom-nextArrow {
  right: 40%;
}
.custom-prevArrow:hover,
.custom-nextArrow:hover {
  fill: red;
  cursor: pointer;
}
.slick-current > div > div > p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  bottom: 0;
  color: white;
  background-color: rgba(35, 31, 32, 0.5);
  width: 100%;
  opacity: 100%;
}
.slick-slide > div > div > image {
  aspect-ratio: 2 !important;
  width: 100% !important;
  height: 50% !important;
}
/* absolute flex justify-center items-center h-[1.5rem] bottom-0 bg-[#231F20] bg-opacity-50 text-white text-xs w-full text-center rounded-b-xl */
:focus {
  outline: none;
}
.slick-dots {
  position: absolute;
  bottom: 0;
}
.slick-dots li.slick-active button:before {
  color: #83cef9 !important;
}
.custom-prevArrow:hover,
.custom-nextArrow:hover {
  fill: #83cef9;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .slick-dots {
    display: none !important;
  }
}
